extends base

block content
    .main
        .login
            .login__heading
                h1.heading LOGIN
            form.login__form(action="#")
                .login__form--input
                    br
                    br
                    label.login__label(for="otp") Your Email
                    input.login__input(type="email" id= "email" name="email" placeholder="Your email")
                    br
                    br
                    label.otp__label(for="otp") Enter OTP :
                    input#otp.otp__input(type="text" name="otp" placeholder="****")
                button.login__btn.send__otp Send OTP
                br
                button.login__btn.submit__login Submit