html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/style.css")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet")
    title JobDekho | #{title}
  body
    nav.navbar
      ul.nav__list
        .nav__buttons
          li.nav__item--link
            a.nav__link(href="#") WELCOME
          li.nav__item--link
            a.nav__link(href="#") ABOUT US
        li.nav_item
          img.nav__logo(src="/image/logo-white.png" alt="Brand-logo")
        .nav__buttons
          li.nav__item--link
            a.nav__link(href="/login") LOGIN
          li.nav__item--link
            a.nav__link(href="#") CONTACT US
    .main.signup__page
      .signup
        .signup__heading
          h1.heading.heading__signup SIGN UP
        form.signup__form(action="")
          .signup__form--input
            .signup__element
              label.signup__label(for="name") Your Name :
              input.signup__input(type="email" id= "name" placeholder="Your Name" required)
            .signup__element 
              label.signup__label(for="email") Your Email :
              input.signup__input(type="email" id= "email" placeholder="Your email" required)
            .signup__element.form__select
              label.signup__label(for="role") Role :
              select.signup__select.signup__input(id="role" name="role" required)
                option(value='user' selected) User
                option(value='employer') Employer
            .signup__buttons
              button.login__btn.signup__sendOtp Send OTP
  script(src="/js/bundle.js")    
