*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    color: #555;
    margin: 3rem;
}
.main {
    height: 90vh;
    width: 100%;
    background-color:#f1ebeb;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.login {
    height: 30rem;
    width: 50rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.login__heading {
    background-color:#444;
    color: #fff;
    height: 20%;
    width: 100%;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    letter-spacing: 2px;
    font-weight: 400;
}

.login__form {
    height: 80%;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__form--input {
    margin-bottom: 2rem;
    transform: translateY(-3rem);
}

.login__label,
.otp__label {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 1rem;
}

.login__input,
.otp__input {
    width: 65%;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: none;
    border-bottom: 2.5px solid transparent;
    background-color: rgb(230, 224, 224);;   
}

.login__input:invalid {
    border-bottom: 2.5px solid rgb(236, 64, 64);   
}

.login__input:focus {
    outline: none;
    border-bottom: 2.5px solid #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

.otp__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

.login__input::-webkit-input-placeholder,
.otp::-webkit-input-placeholder {
    font-family: inherit;
    color: rgb(153, 140, 140);
    font-weight: 300;
    letter-spacing: 1px;
}

.login__btn {
    padding: 1rem 3rem;
    width: 50%;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    transition: all .2s;
    cursor: pointer;
    outline: none;
}

.login__btn:hover {
    transform: translateY(-4px);  
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

.login__btn:active {
    transform: translateY(0);
    border: none;
    box-shadow:none;
}

/* /////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////*/

.navbar {
    background-color: #444;
}
  
.nav__list {
    display: flex;
    list-style: none;
    margin: 0 3rem;
    padding: 1.8rem 0;
    align-items: center;
    justify-content: space-between;
  
}
  
.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: rgb(206, 198, 198);
    font-size: 1.4rem;
    font-weight: 400;
    transition: all .2s;
}

.nav__item--link {
    transition: all .2s;
    backface-visibility: hidden;
}
.nav__item--link:hover {
    transform: translateY(-3px);
}
.nav__item--link:hover > *{
    color: #fff;
}
    
.nav__logo {
    height: 4rem;
}
    
.nav__buttons {
    display: flex;
}
  
.nav__btn {
    margin-right: 1rem;
    border: none;
    border-radius: 10rem;
    color: rgb(206, 198, 198);
    padding: 1rem 1.5rem;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1px;
    transition: all .2s;
    cursor: pointer;
    backface-visibility: hidden;
    outline: none;
}
  
.nav__btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 1rem rgba(#fff, 0.3);
    color: #fff;
}
  
.nav__btn:active {
    transform: translateY(0);
    border: none;
}

.list__jobs {
    min-height: 50rem;
    background-color:  #f7f7f7;
    display: grid;
    padding: 7rem 10rem;
    grid-template-rows: 20rem;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-row-gap: 4rem;
    grid-auto-rows: 20rem;
}

.job {
    padding: 0 5rem 5rem 5rem;
    background-color: #fff;
    border: 2.5px solid #444;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

.company__name {
    width: 60%;
    padding: 1.5rem 0;
    margin: 0 auto;
    margin-top: -2px;
    margin-bottom: 2rem;
    text-align: center;
    background-color: #444;
    color: #fff;
}

.job__description {   
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.job__element {
    font-size: 1.5rem;
}

.span__element {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.job__summary {
    margin-bottom: 1rem;
}

.job__form {
    display: flex;
    align-items: center;
}

.form__label {
    margin-right: 1rem;
}

input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
    background-color: #444;
    color: rgb(233, 219, 219);
    padding: 5px 1rem;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: all .2s;
}

input[type=file]::-webkit-file-upload-button:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}

.footer {
    background-color: #444;
    padding: 3rem 0;
}
  
.footer__list {
    display: flex;
    padding: 0 4rem;
    align-items: center;
    justify-content: space-between;
}
  
.footer__block {
    display: flex;
    align-items: center;
}
  
.footer__block--1 {
    list-style: none;
    display: flex;
}
  
.footer__link {
    margin-right: 3rem;
    font-size: 1.3rem;
    color: #afa5a5;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .2s;
    backface-visibility: hidden;
}
  
.footer__link:hover {
    color: #fff;
    transform: translateY(-4px)
}
  
.footer__brand {
    display: flex;
    flex-direction: column;
}
  
.footer__brand--logo {
    height: 5rem;
}
  
.footer__brand--name {
  font-size: 2rem;
  color: #fff;
  margin-left: 1.5rem;
  letter-spacing: 2px;
}
  
.footer__brand--copyright {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(206, 198, 198); 
}

.upload {
    display: flex;
    justify-content: space-between;
}

.submit__btn {
    padding: 1rem 4rem;
    border: none;
    background-color: #444;
    color:  rgb(233, 219, 219);;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .2s;
    outline: none;
    backface-visibility: hidden;
}

.submit__btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.submit__btn:active {
    transform: translateY(0);
    box-shadow: none;
}

/* /////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////*/

.profile {
    min-height: 80vh;
    background-color:  #f7f7f7;
    padding: 7rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.profile__heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 3rem 0;
    margin-bottom: 3rem;
    letter-spacing: 2px;
}

.profile__field {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile__input {
    width: 45%;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: none;
    color: #444;
    border-bottom: 2.5px solid transparent;
    background-color: rgb(230, 224, 224);   
}

.profile__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

.profile__input::-webkit-input-placeholder {
    font-family: inherit;
    color:rgb(153, 140, 140);
    font-weight: 300;
    letter-spacing: 1px;
}

.profile__input {
    margin-right: 3rem;
}

.form--1,
.form--2 {
    width: 50%;
    margin-bottom: 3rem;
}

/* /////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////*/

.employer__main {
    height: 90vh;
    background-color: #f7f7f7;
    padding: 3rem 7rem;
}

.job__create {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: .7rem;    
    padding: 3rem 0;
}

.employer__form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    position: relative;
}

.employer__submit {
    margin: 5rem 0 5rem 0;
    margin-left: 45%;
}

.employer__input {
    margin-left: 1rem;
}

.employer__label {
    width: 15%;
  display: inline-block;
}