footer.footer
  ul.footer__list
    .footer__block
      img.footer__brand--logo(src="./image/logo-white.png" alt="Brand-logo")
      p.footer__brand
        span.footer__brand--name JobDekho
        span.footer__brand--copyright © to Sanjeev Ray and Foundation
    .footer__block--1
      li.footer__link About Us
      li.footer__link Careers
      li.footer__link Contacts